# usually email address
ATLASSIAN_USERNAME=

# can be a password, personal access token, or API token the above user
# Generate (or revoke) API Tokens here:
#   https://id.atlassian.com/manage-profile/security/api-tokens
ATLASSIAN_API_TOKEN=

# for atlassian cloud, to get to confluence, I believe the host should include
# the `/wiki` path … but your configuration may vary.
ATLASSIAN_HOST=

